body {
    background-color: #892b64;
    text-align: center;
    font-family: "Iosevka Charon Mono", monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #5ce5ff;
    font-size: 1.2rem;
    gap: 2rem;
    text-wrap: wrap;
    padding: 5rem;
}

h1 {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "EDPT" 100,
        "EHLT" 12;
    font-size: 5rem;
}

img {
    width: 100%
}

a {
    text-decoration: none;
    color: white;
}

.image-container {
    max-width: 80%;
    width: 600px;
}

.caption {
    font-family: "Bitcount Ink", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" -8,
        "CRSV" 1,
        "ELSH" 0,
        "ELXP" 100,
        "SZP1" 7,
        "SZP2" 0,
        "XPN1" -2,
        "XPN2" 11,
        "YPN1" 4,
        "YPN2" 0;
    font-size: 1.3rem;
}

.breakdown {
    background-color: #233a60;
    color: white;
    border-radius: .5rem;
    padding: 2rem;
    max-width: 70%;
    text-align: left;
    display: none;
}

.btn {
    background-color: #ff106c;
    padding: 1rem;
    border-radius: .25rem;
    font-family: "Bitcount Ink", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 1,
        "ELSH" 0,
        "ELXP" 100,
        "SZP1" 52,
        "SZP2" 34,
        "XPN1" -2,
        "XPN2" 11,
        "YPN1" 4,
        "YPN2" 0;
    font-size: 1.75rem;
}